@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Gotu&family=Inter&family=Montserrat&family=Roboto+Slab&display=swap');

:root {
  --backgroundColor: white;
  --textcolor: #000000;
  --borderLeftColor: #58b5fc;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* font-family: 'Gotu', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.font-blue{
  color: #0f3c69;
}

.text-right{
  text-align: right;
}

.text-left {
  text-align: end;
}

.absolute{
  position: absolute;
} 

.bottom-0{
  bottom: 10px;
  right: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  /* margin: -20px 0 50px; */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.temp{
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* font-weight: bold; */
  font-size: 15px;
  /* text-transform: uppercase; */
  color: #0f3c69;
  width: auto;
}

.width-10{
width: 25%;

}

.logo-image{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 60px 50px 20px 50px;
}

input {
    color : #0f3c69
}

.navbar-menu {
  height:100vh;
  background-color:var(backgroundColor);
  box-shadow: 1px 1px 7px rgba(0,0,0,0.15);
  transition: all 0.5s ease;
  position:fixed ;
  
}
.burger{
  display:flex;
  justify-content: flex-end;
}
.burger img {
  padding: 25px 10px 0px 0px;
  margin-right: 4px;
  cursor: pointer;
}
.navbar__list {
  list-style-type: none;
  
}
.navbar__li {
  display: inline-block;
  padding:0px 0px 0px 12px;
  position: relative;
  top:2.5px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 38px;
  color: var(--textcolor);
  font-family: "Lato";
  font-weight: 400;
}
.navbar__li-box:first-child {
  margin-top:53px;
    
}
.navbar__li-box {
  height: 43px;
  margin-top:15px;
}
.navbar__li-box:hover {
  border-left: 7px solid var(--borderLeftColor);
  cursor: pointer;
}

.container {
  color: black;
  background-color: blue;
}
.backImage{
  width: 100vw;
  height: 100vh;
  background-image: url('/public/images/tpbk.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.chat-block {
  background: purple;
  width: 100%;
  padding: 30px 20px;
  margin: 10px 0px;
  border-radius: 5%;
  color: white;
  cursor: pointer;
  border: 2px solid black;
.imageBefore{
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100%;
}

.imageAfter{
  height: 120px;
  width: 120px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.notify{
  font-size: 9px;
  color: red;
  margin-top: 10px;
  font-weight: bold;
  text-align: center; 
}